@import 'tailwindcss';
@import 'uniwind';

@theme {
  --font-serif: "PlayfairDisplay_400Regular";
  --font-serif-md: "PlayfairDisplay_500Medium";
  --font-serif-se: "PlayfairDisplay_600SemiBold";
  --font-sans: "SourceSans3_400Regular";
  --font-sans-se: "SourceSans3_600SemiBold";
  --font-sans-bold: "SourceSans3_700Bold";
}

@layer theme {
  :root {
    @variant dark {
      --color-primary: #488554;
      --color-background-main: #fffdf9;
      --color-background-login: #f5f0e8;
      --color-surface: #f5f0e8;

            /* TEXT */
      --color-text-primary: #1c2b1e;
      --color-text-secondary: #6B7C6B;
      --color-text-muted: #A0AFA0;
      --color-text-inverted: #FFFFFF;
      --color-text-link: #488554;
    }

    @variant light {
      --color-primary: #488554;
      --color-background-main: #fffdf9;
      --color-background-login: #f5f0e8;
      --color-surface: #f5f0e8;

            /* TEXT */
      --color-text-primary: #1c2b1e;
      --color-text-secondary: #6B7C6B;
      --color-text-muted: #A0AFA0;
      --color-text-inverted: #FFFFFF;
      --color-text-link: #488554;
    }
  }
}